<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>InstaLeaf</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="width:100%; height:100%; margin:0px; top:0px; overflow:hidden;">
    <main>
      <%= render 'shared/header' %>
      <%= render 'shared/map_search' %>
        <%= yield %>
    </main>
  </body>
</html>
<script  src="//maps.googleapis.com/maps/api/js?key=AIzaSyD5d6IHLMw6iwqHmMK3ZEioWcPii8PTfPM&amp;callback=initMap" async="" defer=""></script>